.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.118000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-11.520000px;}
.ls3{letter-spacing:-1.644573px;}
.ls4{letter-spacing:-0.405511px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.400000px;}
.ls2{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-3.490900px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:1.644573px;}
._2{margin-left:-4.444000px;}
._6{margin-left:-2.960000px;}
._0{margin-left:-1.448000px;}
._1{width:1.432000px;}
._3{width:3.421082px;}
._4{width:134.922588px;}
._5{width:2766.036952px;}
.fc1{color:rgb(112,111,111);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y22{bottom:13.568800px;}
.y21{bottom:23.168800px;}
.y25{bottom:23.915000px;}
.y27{bottom:25.650400px;}
.y28{bottom:27.245676px;}
.y20{bottom:32.768800px;}
.y26{bottom:33.987300px;}
.y23{bottom:41.094000px;}
.y1{bottom:56.093700px;}
.y31{bottom:81.435200px;}
.y30{bottom:93.435200px;}
.y2f{bottom:105.435200px;}
.y2e{bottom:129.435200px;}
.y3a{bottom:139.685200px;}
.y42{bottom:139.685300px;}
.y3e{bottom:139.686200px;}
.y2d{bottom:141.435200px;}
.y39{bottom:151.685200px;}
.y41{bottom:151.685300px;}
.y3d{bottom:151.686200px;}
.y2c{bottom:153.435200px;}
.y38{bottom:163.685200px;}
.y40{bottom:163.685300px;}
.y3c{bottom:163.686200px;}
.y1e{bottom:167.781400px;}
.y37{bottom:175.685200px;}
.y3f{bottom:175.685300px;}
.y3b{bottom:175.686200px;}
.y1d{bottom:191.781400px;}
.y1c{bottom:227.781400px;}
.y1b{bottom:239.781400px;}
.y1a{bottom:251.781400px;}
.y19{bottom:263.781400px;}
.y18{bottom:275.781400px;}
.y2b{bottom:279.245200px;}
.y17{bottom:287.781400px;}
.y2a{bottom:291.245200px;}
.y16{bottom:299.781400px;}
.y29{bottom:303.245200px;}
.y15{bottom:311.781400px;}
.y14{bottom:323.781400px;}
.y13{bottom:335.781400px;}
.y12{bottom:347.781400px;}
.y11{bottom:359.781400px;}
.y10{bottom:371.781400px;}
.yf{bottom:383.781400px;}
.ye{bottom:395.781400px;}
.yd{bottom:407.781400px;}
.yc{bottom:419.781400px;}
.yb{bottom:431.781400px;}
.ya{bottom:443.781400px;}
.y9{bottom:455.781400px;}
.y8{bottom:467.781400px;}
.y7{bottom:479.781400px;}
.y6{bottom:491.781400px;}
.y5{bottom:503.781400px;}
.y4{bottom:515.781400px;}
.y3{bottom:527.781400px;}
.y2{bottom:562.262600px;}
.y36{bottom:625.925200px;}
.y35{bottom:637.925200px;}
.y34{bottom:661.925200px;}
.y33{bottom:673.925200px;}
.y32{bottom:685.925200px;}
.y1f{bottom:686.521400px;}
.y24{bottom:701.521200px;}
.h9{height:16.401291px;}
.ha{height:20.246188px;}
.h5{height:23.392000px;}
.h6{height:29.184000px;}
.hb{height:29.240000px;}
.h4{height:36.480000px;}
.h8{height:50.829413px;}
.h3{height:140.352000px;}
.hc{height:580.000000px;}
.h2{height:680.914300px;}
.h7{height:695.914000px;}
.h1{height:737.000000px;}
.h0{height:737.008000px;}
.w2{width:484.000000px;}
.w3{width:566.929000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x2{left:25.039600px;}
.x5{left:28.346500px;}
.x6{left:59.305700px;}
.xe{left:65.196500px;}
.x8{left:227.690900px;}
.x3{left:229.469600px;}
.x10{left:238.110200px;}
.x7{left:320.714800px;}
.xf{left:411.026500px;}
.xa{left:414.198200px;}
.x4{left:461.909600px;}
.xd{left:521.902400px;}
.xc{left:566.929000px;}
.xb{left:592.797400px;}
.x1{left:626.929000px;}
.x12{left:632.131400px;}
.x11{left:805.041400px;}
.x13{left:977.961400px;}
.x9{left:988.297797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-15.360000pt;}
.ls3{letter-spacing:-2.192764pt;}
.ls4{letter-spacing:-0.540682pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.533333pt;}
.ls2{letter-spacing:4.654533pt;}
.ws1{word-spacing:-4.654533pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:2.192764pt;}
._2{margin-left:-5.925333pt;}
._6{margin-left:-3.946667pt;}
._0{margin-left:-1.930667pt;}
._1{width:1.909333pt;}
._3{width:4.561443pt;}
._4{width:179.896783pt;}
._5{width:3688.049269pt;}
.fs4{font-size:30.037867pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y22{bottom:18.091733pt;}
.y21{bottom:30.891733pt;}
.y25{bottom:31.886667pt;}
.y27{bottom:34.200533pt;}
.y28{bottom:36.327568pt;}
.y20{bottom:43.691733pt;}
.y26{bottom:45.316400pt;}
.y23{bottom:54.792000pt;}
.y1{bottom:74.791600pt;}
.y31{bottom:108.580267pt;}
.y30{bottom:124.580267pt;}
.y2f{bottom:140.580267pt;}
.y2e{bottom:172.580267pt;}
.y3a{bottom:186.246933pt;}
.y42{bottom:186.247067pt;}
.y3e{bottom:186.248267pt;}
.y2d{bottom:188.580267pt;}
.y39{bottom:202.246933pt;}
.y41{bottom:202.247067pt;}
.y3d{bottom:202.248267pt;}
.y2c{bottom:204.580267pt;}
.y38{bottom:218.246933pt;}
.y40{bottom:218.247067pt;}
.y3c{bottom:218.248267pt;}
.y1e{bottom:223.708533pt;}
.y37{bottom:234.246933pt;}
.y3f{bottom:234.247067pt;}
.y3b{bottom:234.248267pt;}
.y1d{bottom:255.708533pt;}
.y1c{bottom:303.708533pt;}
.y1b{bottom:319.708533pt;}
.y1a{bottom:335.708533pt;}
.y19{bottom:351.708533pt;}
.y18{bottom:367.708533pt;}
.y2b{bottom:372.326933pt;}
.y17{bottom:383.708533pt;}
.y2a{bottom:388.326933pt;}
.y16{bottom:399.708533pt;}
.y29{bottom:404.326933pt;}
.y15{bottom:415.708533pt;}
.y14{bottom:431.708533pt;}
.y13{bottom:447.708533pt;}
.y12{bottom:463.708533pt;}
.y11{bottom:479.708533pt;}
.y10{bottom:495.708533pt;}
.yf{bottom:511.708533pt;}
.ye{bottom:527.708533pt;}
.yd{bottom:543.708533pt;}
.yc{bottom:559.708533pt;}
.yb{bottom:575.708533pt;}
.ya{bottom:591.708533pt;}
.y9{bottom:607.708533pt;}
.y8{bottom:623.708533pt;}
.y7{bottom:639.708533pt;}
.y6{bottom:655.708533pt;}
.y5{bottom:671.708533pt;}
.y4{bottom:687.708533pt;}
.y3{bottom:703.708533pt;}
.y2{bottom:749.683467pt;}
.y36{bottom:834.566933pt;}
.y35{bottom:850.566933pt;}
.y34{bottom:882.566933pt;}
.y33{bottom:898.566933pt;}
.y32{bottom:914.566933pt;}
.y1f{bottom:915.361867pt;}
.y24{bottom:935.361600pt;}
.h9{height:21.868388pt;}
.ha{height:26.994917pt;}
.h5{height:31.189333pt;}
.h6{height:38.912000pt;}
.hb{height:38.986667pt;}
.h4{height:48.640000pt;}
.h8{height:67.772551pt;}
.h3{height:187.136000pt;}
.hc{height:773.333333pt;}
.h2{height:907.885733pt;}
.h7{height:927.885333pt;}
.h1{height:982.666667pt;}
.h0{height:982.677333pt;}
.w2{width:645.333333pt;}
.w3{width:755.905333pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x2{left:33.386133pt;}
.x5{left:37.795333pt;}
.x6{left:79.074267pt;}
.xe{left:86.928667pt;}
.x8{left:303.587867pt;}
.x3{left:305.959467pt;}
.x10{left:317.480267pt;}
.x7{left:427.619733pt;}
.xf{left:548.035333pt;}
.xa{left:552.264267pt;}
.x4{left:615.879467pt;}
.xd{left:695.869867pt;}
.xc{left:755.905333pt;}
.xb{left:790.396533pt;}
.x1{left:835.905333pt;}
.x12{left:842.841867pt;}
.x11{left:1073.388533pt;}
.x13{left:1303.948533pt;}
.x9{left:1317.730395pt;}
}
